@font-face {
    font-family: 'iransans';
    src: url('../font/Sans\ a4fran3.woff') format('woff'),
    url('../font/Sans\ a4fran3.eot') format('eot'),
    url('../font/Sans\ a4fran3.ttf') format('ttf'),
    url('../font/IRANSans.woff2') format('woff2');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* responsive nav-hamburger icon start*/
.hamburger-icon{
    display: none;
}

.bar1 , .bar2 , .bar3{
    width: 35px;
    height: 5px;
    background-color:white;
    margin: 6px 0;
    transition: 0.4s;
}
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
/* for responsive nav- hamburger icon end */


/* s1 section start */
.s1{
    background: url('../pic/s1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}
.s1 header{
    position: absolute;
    display: flex;
    width: 100%;
    z-index: 1;
    top: 0;
    background-color:rgb(0, 71, 171,.6);
}
.s1 header nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
}
.s1 header nav .logo{
    width: 140px;
    height: 50px;
    
}
.s1 header nav .logo img{
    width: 100%;
    height: 100%;
}
.s1 header nav .navbar-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:62%;
}
.s1 header nav .navbar-nav li{
    position: relative;
    align-items: center;
    height: 100%;
    display: flex;
    transition: all .5s linear;
    padding: 23px 0;
}

.s1 header nav .navbar-nav .nav-item .dropdown button{
    color: whitesmoke;
    font-size: 13px;
    transition:all .5s linear;
    animation: right 2s 1 .6s linear normal forwards;
    opacity: 0;
}
@keyframes right{
    0%{
        opacity: 0;
        transform: translateX(600px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.s1 header nav .navbar-nav li:hover a{
    color: #cc5500;
    transition:all .5s linear;
}


/*  dropdown list  start*/
header nav .navbar-nav .nav-item .dropdown .dropbtn {
    font-size: 13px;
    border: none;
    outline: none;
    color:whitesmoke;
    background-color: inherit;
    font-family: 'iransans';
    margin: 0;
    transition: .5s;
    cursor: pointer;
}
header nav .navbar-nav .nav-item .dropdown .dropbtn:hover{
    color:#cc5500;
    transition: .5s;
}
header nav .navbar-nav .nav-item .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color:transparent;
    min-width: 195px;
    z-index: 1;
    flex-direction: column;
    border-radius: 5px;
}
header nav .navbar-nav .nav-item .dropdown .dropdown-content a{
    float: none;
    color: whitesmoke;
    padding: 17px 3px;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    transition: all .5s ease-in-out;
    background-color: #030f28;
    border-right: 3px solid #cc5500;
    border-left: 3px solid #cc5500;
}
header nav .navbar-nav .nav-item .dropdown .dropdown-content a:nth-child(1){
    animation: bottom .6s 1 .1s linear normal forwards;
    opacity: 0;
    margin-top: 10px;
}
@keyframes bottom{
    0%{
        opacity: 0;
        transform: translateY(500px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
header nav .navbar-nav .nav-item .dropdown .dropdown-content a:nth-child(2){
    animation: bottom1 .6s 1 .2s linear normal forwards;
    opacity: 0;
}
@keyframes bottom1{
    0%{
        opacity: 0;
        transform: translateY(500px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

header nav .navbar-nav .nav-item .dropdown .dropdown-content a:nth-child(3){
    animation: bottom2 .6s 1 .3s linear normal forwards;
    opacity: 0;
}
@keyframes bottom2{
    0%{
        opacity: 0;
        transform: translateY(500px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

header nav .navbar-nav .nav-item .dropdown .dropdown-content a:nth-child(4){
    animation: bottom3 .6s 1 .4s linear normal forwards;
    opacity: 0;
}
@keyframes bottom3{
    0%{
        opacity: 0;
        transform: translateY(500px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

header nav .navbar-nav .nav-item .dropdown .dropdown-content a:nth-child(5){
    animation: bottom4 .6s 1 .5s linear normal forwards;
    opacity: 0;
}
@keyframes bottom4{
    0%{
        opacity: 0;
        transform: translateY(500px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

header nav .navbar-nav .nav-item .dropdown .dropdown-content a:nth-child(5){
    animation: bottom4 .6s 1 .6s linear normal forwards;
    opacity: 0;
}
@keyframes bottom4{
    0%{
        opacity: 0;
        transform: translateY(500px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

header nav .navbar-nav .nav-item .dropdown .dropdown-content a:nth-child(6){
    animation: bottom5 .6s 1 .7s linear normal forwards;
    opacity: 0;
}
@keyframes bottom5{
    0%{
        opacity: 0;
        transform: translateY(500px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

header nav .navbar-nav .nav-item .dropdown-content a:hover {
    color:#cc5500;
    padding-right: 7px;
}
header nav .navbar-nav .nav-item .dropdown:hover .dropdown-content {
    display:flex;
}
/* dropdown list end */


/* login style */
.s1 header nav .navbar-login {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.s1 header nav .navbar-login li:nth-child(1){
    animation: text 2s 1 1s ease-in-out normal forwards;
    opacity: 0;
}
@keyframes text{
    0%{
        opacity: 0;
        transform: translateX(-300px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.s1 header nav .navbar-login li:nth-child(1) a{
    border: none;
}
.s1 header nav .navbar-login li:nth-child(1) a svg{
    font-size: 23px;
}
.s1 header nav .navbar-login li:nth-child(1) a:hover{
    border: none;
}
.s1 header nav .navbar-login li:nth-child(1) a:hover svg{
    color: #cc5500;
    transition:all .5s linear;
    transform: rotate(360deg);
}
.s1 header nav .navbar-login li a{
    border: 2px solid whitesmoke;
    padding: 8px 12px;
    font-size: 12px;
    color: whitesmoke;
    border-radius: 10px;
    border-left: none;
    border-right: none;
    transition:all .5s linear;
}
.s1 header nav .navbar-login li a:hover{
    border: 2px solid #cc5500;
    border-left: none;
    border-right: none;
    transition:all .5s linear;
}
.s1 header nav .navbar-login li a svg{
    font-size: 15px;
    color: whitesmoke;
    margin-left: 5px;
}

/* for modal login start */
.imgcontainer {
    text-align: center;
    margin: 20px 0;
    position: relative;
}
.close {
    position: absolute;
    right:20px;
    top: 10px;
    color: #030f28;
    font-size: 35px;
    font-weight: bold;
}
.close:hover{
    color:#cc5500;
    cursor: pointer;
}
.contentlog {
    padding: 16px;
}
#div-login .contentlog .form-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}
#div-login .contentlog .form-item svg{
    font-size: 20px;
    padding: 8px 5px;
    color:darkgray;
}
#div-login .contentlog .form-item input{
    width: 95%;
    padding: 8px 5px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #e9e9e9;
    outline: none;
    transition: all .7s ease-in;
    font-family: 'iransans';
    background-color:whitesmoke;
    color: black;
    font-size: 16px;
    text-align: left;
}    
#div-login .contentlog .form-item input::placeholder{
    text-align: right;
    font-size: 13px;
}
#div-login .contentlog .form-item input:focus{
    border-bottom: 1px solid gray;
}
label{
    float: right;
    font-size: 17px;
    margin: 70px 5px 10px 0;
    font-weight: 700;
    font-family: 'iransans';
}
#btn-login{
    width: 100%;
    background-color:#030f28;
    color:#cc5500;
    padding: 7px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: 'iransans';
    border-radius: 5px;
    font-weight: 600;
}
#btn-login:hover {
    opacity: 0.9;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
    padding-top: 5px;
}
.modal-content {
    background-color:whitesmoke;
    margin: 7% auto; 
    width: 25%;
    min-width: 350px;
    border-radius: 10px;
}
.animate {
    -webkit-animation: animatezoom 1s;
    animation: animatezoom 1s;
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
/* for modal login end */
/* s1 section start */


/* social media fixed left start */
.icon-bar {
    position: absolute;
    left: 0;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    animation: left 1s 1 1.4s linear normal forwards;
    opacity: 0;
}
@keyframes left{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.icon-bar a {
    display: block;
    text-align: center;
    padding: 5px;
    transition: all 0.3s ease;
    color: white;
    font-size: 19px;
}  
.icon-bar a svg{
    font-size: 19px;
    transition: all .3s ease-in;
}
.icon-bar a:hover svg {
    transform:scale(1.1,1.1);
    transition: all .3s ease-in;
}
.instagram{
    background:radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); ;
    color: white;
}
.telegram{
    background:#0088cc ;
    color: white;
}
.twitter {
    background: #55ACEE;
    color: white;
  }
.linkedin {
    background: #007bb5;
    color: white;
}
.youtube {
    background: #bb0000;
    color: white;
}
/* social media fixed left end */


/* news section start */
.news{
    background: url('../pic/news.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}
.news .row{
    justify-content: space-evenly;
    align-items: center;
}
.news .news-right{
    height:80vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.news .news-right a .news-right-content{
    width: 100%;
    height:19vh;
    display: flex;
    align-items:start;
    background-color: rgb(245, 245, 245,.9);
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgba(0,0, 0,.2);
    border-radius: 5px;
    transition: all .3s ease-in-out;
    overflow: hidden;
}
.news .news-right a .news-right-content:hover{
    margin-right: 5px;
    transition: all .3s ease-in-out;
}
.news .news-right .news-right-content img{
    width: 150px;
    height: 100%;
    padding: 5px;
}
.news .news-right .news-right-content p{
    padding-right: 5px;
    font-size: 13px;
    line-height: 24px;
    padding: 5px;
    color: black;
    transition: .3s;
}
.news .news-right .news-right-content:hover p{
    color: #0047ab;
    transition: .3s;
}


.news .news-left{
    height:80vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.news .news-left .news-left-content{
    width: 100%;
    height: 19vh;
    display: flex;
    align-items:start;
    background-color: rgb(245, 245, 245,.9);
    margin-top: 10px;
    box-shadow: 5px 5px 5px rgba(0,0, 0,.2);
    border-radius: 5px;
    transition: all .3s ease-in-out;
    overflow: hidden;
}
.news .news-left .news-left-content:hover{
    margin-right: 5px;
    transition: all .3s ease-in-out;
}
.news .news-left .news-left-content img{
    width: 150px;
    height: 100%;
    padding: 5px;
}
.news .news-left .news-left-content p{
    padding-right: 5px;
    font-size: 14px;
    line-height: 24px;
    font-size: 13px;
    line-height: 24px;
    padding: 5px;
    color: black;
    transition: .3s;
}
.news .news-left .news-left-content:hover p{
    color: #0047ab;
    transition: .3s;
}
/* news section end */


/* dollar section start */
.dollar{
    background: url('../pic/main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dollar .dollar-table table{
    width: 100%;
    height: 85vh;
    background-color: whitesmoke;
    border: 2px solid gainsboro;
    border-radius: 5px;
}
.dollar .dollar-table table th{
    width: 140px;
    text-align: center;
    font-weight: 600;
    opacity: .8;
    vertical-align: middle;
    background-color: rgb(235, 235, 235);
    border: 1px solid gainsboro;
}



.dollar .dollar-table table tr{
    text-align: center;
    font-size: 12px;
    border: 1px solid gainsboro;
    vertical-align: middle;
}
.dollar .dollar-table table td{
    text-align: center;
    border: 1px solid gainsboro;
    font-size: 15px;
    opacity: .8;
    vertical-align: middle;
}
.dollar .dollar-table table tr td:nth-child(1){
    width: 150px;
    font-weight: 600;
    background-color: rgb(235, 235, 235);
    border: 1px solid gainsboro;
    font-size: 12px;
}
.dollar .dollar-table table tr:hover{
    background-color: #cc5500;
    color: white;
    opacity: 1;
    transition: all .3s ease-in;
}
.dollar .dollar-table table tr:hover td:nth-child(1){
    border-right: 2px solid #cc5500;
    transition: all .3s ease-in;
    padding-right: 5px;
    color: black;
}
.dollar .dollar-table table tr:nth-child(1):hover {
    background-color: rgb(235, 235, 235);
    color: black;
}
.dollar .dollar-table table tr th:nth-child(8){
    width: 70px !important;
}
.dollar .dollar-table table tr td:nth-child(8) a svg{
    font-size: 18px;
    color:#cc5500 ;
    opacity: .8;
}
.dollar .dollar-table table tr:hover td a svg{
    background-color: #cc5500;
    color: white;
    opacity: 1;
    transition: all .3s ease-in;
}
/* dollar section end */


/* gold section start */
.gold{
    background: url('../pic/main.jpg');
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gold .gold-table table{
    height:85vh;
    background-color: whitesmoke;
    border: 2px solid gainsboro;
    border-radius: 5px;
}
.gold .gold-table table th{
    width: 140px;
    text-align: center;
    font-weight: 600;
    opacity: .8;
    vertical-align: middle;
    background-color: rgb(235, 235, 235);
    border: 1px solid gainsboro;
}
.gold .gold-table table tr{
    text-align: center;
    font-size: 12px;
    border: 1px solid gainsboro;
}
.gold .gold-table table td{
    text-align: center;
    border: 1px solid gainsboro;
    font-size: 15px;
    opacity: .8;
    vertical-align: middle;
}
.gold .gold-table table tr td:nth-child(1){
    width: 150px;
    font-weight: 600;
    background-color: rgb(235, 235, 235);
    border: 1px solid gainsboro;
    font-size: 12px;
}
.gold .gold-table table tr:hover{
    background-color: #cc5500;
    color: white;
    opacity: 1;
    transition: all .3s ease-in;
}
.gold .gold-table table tr:hover td:nth-child(1){
    border-right: 2px solid #cc5500;
    transition: all .3s ease-in;
    padding-right: 5px;
    color: black;
}
.gold .gold-table table tr:nth-child(1):hover {
    background-color: rgb(235, 235, 235);
    color: black;
}
.gold .gold-table table tr th:nth-child(8){
    width: 70px !important;
}
.gold .gold-table table tr td:nth-child(8) a svg{
    font-size: 18px;
    color:#cc5500 ;
    opacity: .8;
}
.gold .gold-table table tr:hover td a svg{
    background-color: #cc5500;
    color: white;
    opacity: 1;
    transition: all .3s ease-in;
}
/* gold section end */


/* bourse section start */
.bourse{
    background: url('../pic/main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bourse .bourse-table table{
    height: 85vh;
    background-color: whitesmoke;
    border: 2px solid gainsboro;
    border-radius: 5px;
}
.bourse .bourse-table table th{
    width: 140px;
    text-align: center;
    font-weight: 600;
    opacity: .8;
    vertical-align: middle;
    background-color: rgb(235, 235, 235);
    border: 1px solid gainsboro;
}
.bourse .bourse-table table tr{
    text-align: center;
    font-size: 12px;
    border: 1px solid gainsboro;
    vertical-align: middle;
}
.bourse .bourse-table table td{
    text-align: center;
    border: 1px solid gainsboro;
    font-size: 15px;
    opacity: .8;
    vertical-align: middle;
}
.bourse .bourse-table table tr td:nth-child(1){
    width: 150px;
    font-weight: 600;
    background-color: rgb(235, 235, 235);
    border: 1px solid gainsboro;
    font-size: 12px;
}
.bourse .bourse-table table tr:hover{
    background-color: #cc5500;
    color: white;
    opacity: 1;
    transition: all .3s ease-in;
}
.bourse .bourse-table table tr:hover td:nth-child(1){
    border-right: 2px solid #cc5500;
    transition: all .3s ease-in;
    padding-right: 5px;
    color: black;
}
.bourse .bourse-table table tr:nth-child(1):hover {
    background-color: rgb(235, 235, 235);
    color: black;
}
.bourse .bourse-table table tr th:nth-child(8){
    width: 70px !important;
}
.bourse .bourse-table table tr td:nth-child(8) a svg{
    font-size: 18px;
    color:#cc5500 ;
    opacity: .8;
}
.bourse .bourse-table table tr:hover td a svg{
    background-color: #cc5500;
    color: white;
    opacity: 1;
    transition: all .3s ease-in;
}
/* bourse section end */


/* irancar section start */
.irancar{
    background: url('../pic/main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.irancar .slide .title-page{
    margin-top: 10px;
}
.irancar .irancar-table table{
    height: 85vh;
    background-color: whitesmoke;
    border: 2px solid gainsboro;
    border-radius: 5px;
    margin: auto;
}
.irancar .irancar-table table th{
    width: 140px;
    text-align: center;
    font-weight: 600;
    opacity: .8;
    vertical-align: middle;
    background-color: rgb(235, 235, 235);
    border: 1px solid gainsboro;
}
.irancar .irancar-table table tr{
    text-align: center;
    font-size: 12px;
    border: 1px solid gainsboro;
    vertical-align: middle;
}
.irancar .irancar-table table td{
    text-align: center;
    border: 1px solid gainsboro;
    font-size: 15px;
    opacity: .8;
    vertical-align: middle;
}
.irancar .irancar-table table tr td:nth-child(1){
    width: 150px;
    font-weight: 600;
    background-color: rgb(235, 235, 235);
    border: 1px solid gainsboro;
    font-size: 12px;
}
.irancar .irancar-table table tr:hover{
    background-color: #cc5500;
    color: white;
    opacity: 1;
    transition: all .3s ease-in;
}
.irancar .irancar-table table tr:hover td:nth-child(1){
    border-right: 2px solid #cc5500;
    transition: all .3s ease-in;
    padding-right: 5px;
    color: black;
}
.irancar .irancar-table table tr:nth-child(1):hover {
    background-color: rgb(235, 235, 235);
    color: black;
}


.irancar .fp-arrow.fp-prev{
    position: absolute;
    top: 95%;
    left: 50px;
    border-width: 15px 15px 15px 0;
    border-color: transparent #0047ab transparent transparent;
    transition: all .3s ease-in;
}
.irancar .fp-arrow.fp-prev:hover{
    border-color: transparent #cc5500 transparent transparent;
    transition: all .3s ease-in;
}
.irancar .fp-arrow.fp-next{
    position: absolute;
    top: 95%;
    right:50px;
    border-width: 15px 0 15px  15px ;
    border-color: transparent transparent transparent #0047ab;
    transition: all .3s ease-in;
}
.irancar .fp-arrow.fp-next:hover{
    border-color: transparent transparent transparent #cc5500;
    transition: all .3s ease-in;
}
/* irancar section end */



/* foreigncar section start */
.foreigncar{
    background: url('../pic/main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}
.foreigncar .slide .title-page{
    margin-top: 10px;
}
.foreigncar .foreigncar-table table{
    height: 85vh;
    background-color: whitesmoke;
    border: 2px solid gainsboro;
    border-radius: 5px;
    margin: auto;
}
.foreigncar .foreigncar-table table th{
    width: 140px;
    text-align: center;
    font-weight: 600;
    opacity: .8;
    vertical-align: middle;
    background-color: rgb(235, 235, 235);
    border: 1px solid gainsboro;
}
.foreigncar .foreigncar-table table tr{
    text-align: center;
    font-size: 12px;
    border: 1px solid gainsboro;
    vertical-align: middle;
}
.foreigncar .foreigncar-table table td{
    text-align: center;
    border: 1px solid gainsboro;
    font-size: 15px;
    opacity: .8;
    vertical-align: middle;
}
.foreigncar .foreigncar-table table tr td:nth-child(1){
    width: 150px;
    font-weight: 600;
    background-color: rgb(235, 235, 235);
    border: 1px solid gainsboro;
    font-size: 12px;
}
.foreigncar .foreigncar-table table tr:hover{
    background-color: #cc5500;
    color: white;
    opacity: 1;
    transition: all .3s ease-in;
}
.foreigncar .foreigncar-table table tr:hover td:nth-child(1){
    border-right: 2px solid #cc5500;
    transition: all .3s ease-in;
    padding-right: 5px;
    color: black;
}
.foreigncar .foreigncar-table table tr:nth-child(1):hover {
    background-color: rgb(235, 235, 235);
    color: black;
}


.foreigncar .fp-arrow.fp-prev{
    position: absolute;
    top: 95%;
    left: 50px;
    border-width: 15px 15px 15px 0;
    border-color: transparent #0047ab transparent transparent;
    transition: all .3s ease-in;
}
.foreigncar .fp-arrow.fp-prev:hover{
    border-color: transparent #cc5500 transparent transparent;
    transition: all .3s ease-in;
}
.foreigncar .fp-arrow.fp-next{
    position: absolute;
    top: 95%;
    right:50px;
    border-width: 15px 0 15px  15px ;
    border-color: transparent transparent transparent #0047ab;
    transition: all .3s ease-in;
}
.foreigncar .fp-arrow.fp-next:hover{
    border-color: transparent transparent transparent #cc5500;
    transition: all .3s ease-in;
}
.foreigncar .foreigncar-table table #kerman-motor{
    height: 550px !important;
}
/* foreigncar section end */


/* crypto section start */
.crypto{
    background: url('../pic/main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.crypto .crypto-table table{
    height: 85vh;
    background-color: whitesmoke;
    border: 2px solid gainsboro;
    border-radius: 5px;
}
.crypto .crypto-table table th{
    width: 140px;
    text-align: center;
    font-weight: 600;
    opacity: .8;
    vertical-align: middle;
    background-color: rgb(235, 235, 235);
    border: 1px solid gainsboro;
}
.crypto .crypto-table table tr{
    text-align: center;
    font-size: 12px;
    border: 1px solid gainsboro;
}
.crypto .crypto-table table td{
    text-align: center;
    border: 1px solid gainsboro;
    font-size: 15px;
    opacity: .8;
    vertical-align: middle;
}
.crypto .crypto-table table tr td:nth-child(1){
    width: 150px;
    font-weight: 600;
    background-color: rgb(235, 235, 235);
    border: 1px solid gainsboro;
    font-size: 12px;
}
.crypto .crypto-table table tr:hover{
    background-color: #cc5500;
    color: white;
    opacity: 1;
    transition: all .3s ease-in;
}
.crypto .crypto-table table tr:hover td:nth-child(1){
    border-right: 2px solid #cc5500;
    transition: all .3s ease-in;
    padding-right: 5px;
    color: black;
}
.crypto .crypto-table table tr:nth-child(1):hover {
    background-color: rgb(235, 235, 235);
    color: black;
}
.crypto .crypto-table table tr th:nth-child(8){
    width: 70px !important;
}
.crypto .crypto-table table tr td:nth-child(8) a svg{
    font-size: 18px;
    color:#cc5500 ;
    opacity: .8;
}
.crypto .crypto-table table tr:hover td a svg{
    background-color: #cc5500;
    color: white;
    opacity: 1;
    transition: all .3s ease-in;
}
/* crypto section end */


/* stock section start */
.stock{
    background: url('../pic/main.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.stock .stock-table table{
    height: 85vh;
    background-color: whitesmoke;
    border: 2px solid gainsboro;
    border-radius: 5px;
}
.stock .stock-table table th{
    width: 140px;
    text-align: center;
    font-weight: 600;
    opacity: .8;
    vertical-align: middle;
    background-color: rgb(235, 235, 235);
    border: 1px solid gainsboro;
}
.stock .stock-table table tr{
    text-align: center;
    font-size: 12px;
    border: 1px solid gainsboro;
}
.stock .stock-table table td{
    text-align: center;
    border: 1px solid gainsboro;
    font-size: 15px;
    opacity: .8;
    vertical-align: middle;
}
.stock .stock-table table tr td:nth-child(1){
    width: 150px;
    font-weight: 600;
    background-color: rgb(235, 235, 235);
    border: 1px solid gainsboro;
    font-size: 12px;
}
.stock .stock-table table tr:hover{
    background-color: #cc5500;
    color: white;
    opacity: 1;
    transition: all .3s ease-in;
}
.stock .stock-table table tr:hover td:nth-child(1){
    border-right: 2px solid #cc5500;
    transition: all .3s ease-in;
    padding-right: 5px;
    color: black;
}
.stock .stock-table table tr:nth-child(1):hover {
    background-color: rgb(235, 235, 235);
    color: black;
}
.stock .stock-table table tr th:nth-child(8){
    width: 70px !important;
}
.stock .stock-table table tr td:nth-child(8) a svg{
    font-size: 18px;
    color:#cc5500 ;
    opacity: .8;
}
.stock .stock-table table tr:hover td a svg{
    background-color: #cc5500;
    color: white;
    opacity: 1;
    transition: all .3s ease-in;
}
/* stock section end */


/* analysis section start */
.analysis{
    background:url('../pic/analysis.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.analysis .row{
    align-items:center;
    justify-content:space-evenly;
}
.analysis .our-analysis {
    width: 31%;
    height:35vh;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    align-items: center;
    justify-content: center;
    background-color:rgba(245, 245, 245,.85);
    border: 2px solid #cc5500;
    border-radius: 5px;
    margin-top: 20px;
    transition:all .5s linear; 
}
.analysis .our-analysis:hover{
    filter: drop-shadow(10px 10px 5px darkgrey);
}
.analysis .our-analysis:hover svg{
    color: #0047ab;
}
.analysis .our-analysis:hover a{
    text-shadow:2px 2px 15px #cc5500;
    color: #cc5500;
    transition: .3s;
}
.analysis .our-analysis svg{
    font-size: 35px;
    color: #cc5500;
    margin-bottom: 10px;
}
.analysis .our-analysis h3{
    color: #0047ab;
    padding: 10px 0;
}
.analysis .our-analysis p{
    font-size: 13px;
    padding: 20px 10px;
    line-height: 25px;
}
.analysis .our-analysis a{
    color:#0047ab;
    font-size: 13px;
    transition: .5s;
}
/* analysis section end */


/* channel section start */
.channel{
    background-color:rgba(245, 245, 245,.95);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.channel .title-page{
    margin-top: 10px;
    margin-bottom: 10px;
}
.channel .channel-content{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    background-color:rgba(245, 245, 245,.95);
    border-radius: 5px;
    padding: 10px;
    height: 90vh;
}
.channel .channel-content-desc{
    width: 49%;
    text-align: center;
    margin: auto;
}
.channel .channel-content-desc h2{
    font-size:22px;
    padding-bottom: 20px;
    font-weight: 600;
    opacity: .8;
}
.channel .channel-content-desc h2 svg{
    color: #cc5500;
    font-size: 27px;
}
.channel .channel-content-desc p{
    font-size: 15px;
    line-height: 35px;
    width: 98%;
    margin: auto;
    margin-bottom: 30px;
}
.channel .channel-content-desc a{
    font-size: 13px;
    padding: 8px 15px;
    border: 2px solid #cc5500;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    color: #0047ab;
    transition: all .5s linear;
}
.channel .channel-content-desc a:hover{
    border: 2px solid #0047ab;
    border-left: none;
    border-right: none;
    transition: all .5s linear;
}
.channel .channel-content-desc a svg{
    font-size: 16px;
    margin-left: 8px;
    vertical-align: middle;
}
.channel .channel-content .channel-content-img{
    width: 48%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
}
.channel .channel-content .channel-content-img img{
    width: 45%;
    height:40vh;
    padding: 8px 0;
    max-height: 300px;
}
.channel .channel-content .channel-content-img img:nth-child(3){
    width: 94%;
}
/* channel section end */


/* seminar section start */
.seminar{
    background-color:rgba(245, 245, 245,.95);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.seminar .title-page{
    margin-top: 10px;
    margin-bottom: 20px;
}
.seminar .seminar-content{
    display: flex;
    background-color:rgba(245, 245, 245,.95);
    border-radius: 5px;
    padding: 50px 0;
    height: 90vh;
}
.seminar .seminar-content .seminar-vector{
    width: 49%;
    margin: auto 10px;
}
.seminar .seminar-content .seminar-vector img{
    width: 100%;
    height: 100%;
}
.seminar .seminar-content .seminar-desc{
    width: 49%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.seminar .seminar-content .seminar-desc .seminar-desc-item h2{
    width: 100%;
    font-size: 22px;
    font-weight: 600;
    opacity: .8;
    margin-bottom: 20px;
}
.seminar .seminar-content .seminar-desc .seminar-desc-item h2 svg{
    color: #cc5500;
    font-size:27px;
}
.seminar .seminar-content .seminar-desc .seminar-desc-item p{
    font-size: 15px;
    line-height: 35px;
    width: 98%;
    margin: auto;
    margin-bottom: 20px;
}
.seminar .seminar-content .seminar-desc .seminar-link{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.seminar .seminar-content .seminar-desc a{
    font-size: 13px;
    padding: 10px 15px;
    border: 2px solid #cc5500;
    border-left: none;
    border-right: none;
    border-radius: 10px;
    color: #0047ab;
    transition: all .5s linear;
}
.seminar .seminar-content .seminar-desc a:hover{
    border: 2px solid #0047ab;
    border-left: none;
    border-right: none;
    transition: all .5s linear;
}
.seminar .seminar-content .seminar-desc a svg{
    font-size: 16px;
    margin-left: 8px;
    vertical-align: middle;
}
/* seminar section end */



/* aboutus section start */
.about-us{
    background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)), url('../pic/about-us.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.about-us .about-us-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-evenly; 
}
.about-us .about-us-content .about-us-items{
    width: 32%;
    height:28vh;
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    align-items: center;
    justify-content: center;
    background-color:rgba(245, 245, 245,.85);
    border: 2px solid #cc5500;
    border-radius: 5px;
    margin-top: 10px;
    transition:all .5s linear; 
}
.about-us .about-us-content .about-us-items svg{
    font-size:35px;
    color: #0047ab;
    padding: 10px 0;
}
.about-us .about-us-content .about-us-items h4{
    color: #cc5500;
    font-weight: 600;
    padding-bottom: 20px;
}
.about-us .about-us-content .about-us-items p{
    font-size: 14px;
    text-align: center;
    padding: 10px;
    line-height: 25px;
}
/* aboutus section end */


/* contact-us section start */
.contact-us{
    background-color:#030f28;
}
.contact-us .footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    text-align: center;
    border-radius: 5px;
}
.contact-us .footer .social{
    width: 60%;
    margin: auto;
    padding: 20px 0;
}
.contact-us .footer .social img{
    width: 170px;
    height: 65px;
}
.contact-us .footer .social h2{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #cc5500;
    padding:0 0 40px 0;
}
.contact-us .footer .social svg{
    font-size: 25px;
    margin-left: 25px;
    color: darkgray;
    transition: .5s ease-in;
}
.contact-us .footer .social svg:hover{
    color: #cc5500;
    transition: .5s ease-in;
}
.contact-us .footer .contact-us-desc{
    width: 100%;
    padding: 20px 0;
    text-align: center;
}
.contact-us .footer .contact-us-desc h2{
    font-size: 25px;
    color: #0047ab;
    padding-bottom: 20px;
}
.contact-us .footer .contact-us-desc p{
    width: 30%;
    font-size: 13px;
    color: darkgray;
    line-height: 30px;
    text-align: center;
    margin: auto;
}
.contact-us .footer .contact-us-content{
    display: flex;
    justify-content: space-between;
}
.contact-us .footer .table{
    height: 250px;
    margin-top: 10px;
}
.contact-us .footer .table h3{
    font-size: 16px;
    padding: 30px 0;
    color: #cc5500;
}
.contact-us .footer .table .p-table{
    height: 40px;
    font-size: 12px;
}
.contact-us .footer .table .p-table svg{
    font-size: 15px;
    color: darkgray;
}
.contact-us .footer .table .p-table a{
    font-size: 13px;
    color:darkgray;
    line-height: 22px;
    transition: .5s ease-in;
}
.contact-us .footer .p-table a:hover{
    color:#cc5500;
    transition: .5s ease-in;
}
.contact-us .footer .copyright-en{
    color: #978b8c;
    font-size: 13px;
    text-align: right;
    margin: 10px 0;
}
.contact-us .footer .copyright-fa{
    color: #978b8c;
    text-align: left;
    font-size: 10px;
    margin: 10px 0;
}
/* contactus section end */




/* global style start */
#fp-nav ul li a.active span{
    background-color:#cc5500 !important;
}
#fp-nav ul li .fp-tooltip{
    overflow:visible !important;
    color: #cc5500 !important;
}
.fp-warning, .fp-watermark a{
    display: none !important;
}
.title-page{
    width: 100%;
    text-align: center;
    margin-bottom:20px;
}
.title-page h2{
    font-size: 30px;
    color: #0047ab;
    font-weight: 600;
}
.title-page h2 span{
    font-size: 30px;
    color:#cc5500;
    font-weight: 600;
}
.see-all{
    width: 100%;
    text-align: center;
}
.see-all button{
    border: 2px solid #0047ab;
    border-left: none;
    border-right: none;
    width: 120px;
    height: 40px;
    font-family: 'iransans';
    background-color:transparent;
    color:#0047ab;
    font-size: 14px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 1s linear;
}
.see-all button:hover{
    border: 2px solid #cc5500;
    border-left: none;
    border-right: none;
    transition: all .5s linear;
}

/* toltip start */
.tooltip{
    position: relative;
}
.tooltip svg{
    font-size: 14px;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: whitesmoke;
    opacity: 1;
    color: #cc5500;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    margin-bottom: 5px;
    font-size: 10px;
    border-bottom: 1px solid #0047ab;
    border-top: 1px solid #0047ab;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 11%;
    margin-left: -100px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip:hover svg{
    color: #cc5500;
}
/* toltip end */

/* global style end */



/* for hamburger icon */
.sidepanel{
    width: 250px;
    display: none;
    position:fixed;
    z-index: 1;
    height:100vh;
    top: 0;
    left:0;
    background-color:#030f28;
    padding-top: 10px;
    border-right: 7px solid #cc5500;
    overflow-y: scroll;
}
.name-site{
    width: 70%;
    height: 60px;
    margin: auto;
}
.name-site img{
    width: 100%;
    height: 100%;
}
.another-respon{
    width: 100%;
    display: flex;
    height: 50px;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    font-size: 14px !important;
    transition: .5s ease-in;
    padding-top: 18px;
    margin-top: 5px;
}
.another-respon p{
    color: whitesmoke;
    transition: .3s ease-in;
}
.another-respon p:hover{
    color:#cc5500;
    transition: .3s ease-in;
}
.another-respon svg{
    color: whitesmoke;
    transition: .3s ease-in;
}
.another-respon:hover svg{
    color: #cc5500;
    transition: .3s ease-in;
}
.dropdown-container {
    display: none;
    background-color:#030f28;
}
.dropdown-container a{
    padding-bottom:15px;
    font-size: 13px;
    line-height: 20px;
    color: #818181;
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
    outline: none;
    transition: .3s ease-in;
}  
.dropdown-container a:hover{
    color:#cc5500;
    transition: .3s ease-in;
}
/* sidepanel end */



/* responsive model */
@media (max-width:1200px){
    .s1 header nav .navbar-nav{
        display: none;
    }
    .hamburger-icon{
        display: block;
        cursor: pointer;
    }
    .irancar .irancar-table table tr td:nth-child(2){
        display: none;
    }
    .irancar .irancar-table table tr th:nth-child(2){
        display: none;
    }

    .foreigncar .foreigncar-table table tr td:nth-child(2){
        display: none;
    }
    .foreigncar .foreigncar-table table tr th:nth-child(2){
        display: none;
    }
    .channel .channel-content-desc p{
        line-height: 30px;
    }
    .seminar .seminar-content .seminar-desc .seminar-desc-item h2{
        font-size: 20px;
    }
    .seminar .seminar-content .seminar-desc .seminar-desc-item p{
        line-height: 27px;
    }
}


@media (max-width:992px){
    .news .news-left{
        display: none;
    }
    .dollar .dollar-table table tr td:nth-child(1){
        width: 18% !important;
    }

    .gold .gold-table table tr td:nth-child(1){
        width: 18% !important;
    }

    .bourse .bourse-table table tr td:nth-child(1){
        width: 18% !important;
    }

    .irancar .irancar-table table tr td:nth-child(1){
        width: 22% !important;
    }

    .foreigncar .foreigncar-table table tr td:nth-child(1){
        width: 22% !important;
    }

    .stock .stock-table table tr td:nth-child(1){
        width: 18% !important;
    }
    .channel .channel-content-desc p{
        line-height: 25px;
        font-size: 14px;
    }
    .channel .channel-content-desc h2{
        text-align: right;
        font-size: 17px;
    }
    .channel .channel-content-desc h2 svg{
        font-size: 20px;
    }
    .seminar .seminar-content{
        flex-direction: column-reverse;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .seminar .seminar-content .seminar-vector{
        width: 100%;
        height: 35vh;
        padding-top: 10px;
    }
    .seminar .seminar-content .seminar-desc{
        width: 100%;
    }
    .seminar .seminar-content .seminar-desc .seminar-desc-item p{
        line-height: 25px;
        font-size: 14px;
    }
    .seminar .title-page{
        margin-bottom: 10px;
    }
}


@media (max-width:768px){
    .s1{
        background-position:left;
    }
    .s1 header nav .navbar-log{
        width: 50%;
    }
    .dollar .dollar-table table tr th:nth-child(3){
        display: none;
    }
    .dollar .dollar-table table tr td:nth-child(3){
        display: none;
    }
    .dollar .dollar-table table tr th:nth-child(4){
        display: none;
    }
    .dollar .dollar-table table tr td:nth-child(4){
        display: none;
    }


    .gold .gold-table table tr th:nth-child(3){
        display: none;
    }
    .gold .gold-table table tr td:nth-child(3){
        display: none;
    }
    .gold .gold-table table tr th:nth-child(4){
        display: none;
    }
    .gold .gold-table table tr td:nth-child(4){
        display: none;
    }


    .bourse .bourse-table table tr th:nth-child(3){
        display: none;
    }
    .bourse .bourse-table table tr td:nth-child(3){
        display: none;
    }
    .bourse .bourse-table table tr th:nth-child(4){
        display: none;
    }
    .bourse .bourse-table table tr td:nth-child(4){
        display: none;
    }

    .irancar .irancar-table table tr th:nth-child(5){
        display: none;
    }
    .irancar .irancar-table table tr td:nth-child(5){
        display: none;
    }
    .irancar .irancar-table table tr th:nth-child(6){
        display: none;
    }
    .irancar .irancar-table table tr td:nth-child(6){
        display: none;
    }
    .irancar .irancar-table table tr td:nth-child(1){
        width: 40% !important;
    }


    .foreigncar .foreigncar-table table tr th:nth-child(5){
        display: none;
    }
    .foreigncar .foreigncar-table table tr td:nth-child(5){
        display: none;
    }
    .foreigncar .foreigncar-table table tr th:nth-child(6){
        display: none;
    }
    .foreigncar .foreigncar-table table tr td:nth-child(6){
        display: none;
    }
    .foreigncar .foreigncar-table table tr td:nth-child(1){
        width: 40% !important;
    }


    .crypto .crypto-table table tr th:nth-child(4){
        display: none;
    }
    .crypto .crypto-table table tr td:nth-child(4){
        display: none;
    }
    .crypto .crypto-table table tr th:nth-child(5){
        display: none;
    }
    .crypto .crypto-table table tr td:nth-child(5){
        display: none;
    }


    .stock .stock-table table tr th:nth-child(3){
        display: none;
    }
    .stock .stock-table table tr td:nth-child(3){
        display: none;
    }
    .stock .stock-table table tr th:nth-child(4){
        display: none;
    }
    .stock .stock-table table tr td:nth-child(4){
        display: none;
    }

    .analysis .our-analysis p{
        display: none;
    }
    .analysis .our-analysis h3{
        padding-bottom: 50px;
        font-size: 14px;
        line-height: 25px;
    }
    .channel .channel-content .channel-content-img img:nth-child(1){
        display: none;
    }
    .channel .channel-content .channel-content-img img:nth-child(2){
        display: none;
    }
    .channel .channel-content{
        flex-direction: column;
    }
    .channel .channel-content-desc{
        width: 100%;
    }
    .channel .channel-content .channel-content-img{
        width: 100%;
    }
    .channel .channel-content .channel-content-img img{
        height: 25vh;
    }
    .channel .channel-content-desc a{
        font-size: 12px;
        padding: 7px 11px;
    }
    .channel .channel-content-desc h2{
        text-align: center;
    }
    .seminar .seminar-content .seminar-vector{
        height: 30vh;
        padding-top: 10px;
    }
    .seminar .seminar-content .seminar-desc .seminar-desc-item h2{
        font-size: 17px;
    }
    .seminar .seminar-content .seminar-desc .seminar-desc-item h2 svg{
        font-size: 20px;
    }
    .seminar .seminar-content .seminar-desc a{
        font-size: 12px;
        padding: 7px 12px;
    }

    .contact-us .footer .social h2{
        font-size: 28px;
    }
    .contact-us .footer .contact-us-desc h2{
        font-size: 18px;
    }
    .contact-us .footer .contact-us-content{
        display: flex;
        width: 100%;
        flex-wrap: wrap; 
    }
    .contact-us .footer .table{
        width: 45%;
    }
    .contact-us .footer .copyright-en{
        text-align: center;
    }
    .contact-us .footer .copyright-fa{
        text-align: center;
    }
    .about-us .about-us-content .about-us-items h4{
        font-size: 14px;
        line-height: 22px;
        padding-bottom: 10px;
    }
}


@media (max-width:576px){
    .title-page h2{
        font-size: 20px;
    }
    .title-page h2 span{
        font-size: 20px;
    }
    .news .title-page{
        margin-bottom: 0;
    }
    .news .news-right a .news-right-content{
        height: 20vh;  
    }
    .news .see-all button{
        margin-top: 50px;
    }
    .dollar .dollar-table table tr th:nth-child(7){
        display: none;
    }
    .dollar .dollar-table table tr td:nth-child(7){
        display: none;
    }
    .dollar .dollar-table table tr td:nth-child(1){
        width: 28% !important;
        line-height: 20px;
    }
    .tooltip svg{
        display: none;
    }

    .gold .gold-table table tr th:nth-child(7){
        display: none;
    }
    .gold .gold-table table tr td:nth-child(7){
        display: none;
    }
    .gold .gold-table table tr td:nth-child(1){
        width: 28% !important;
        line-height: 20px;
    }

    .bourse .bourse-table table tr th:nth-child(7){
        display: none;
    }
    .bourse .bourse-table table tr td:nth-child(7){
        display: none;
    }
    .bourse .bourse-table table tr td:nth-child(1){
        width: 28% !important;
        line-height: 20px;
    }
    
    .irancar .irancar-table table tr th:nth-child(3){
        display: none;
    }
    .irancar .irancar-table table tr td:nth-child(3){
        display: none;
    }
    .irancar .irancar-table table tr td:nth-child(1){
        line-height: 20px;
    }
    .irancar .fp-arrow.fp-prev{
        left: 10px;
    }
    .irancar .fp-arrow.fp-next{
        right: 10px;
    }
    
    .foreigncar .foreigncar-table table tr th:nth-child(3){
        display: none;
    }
    .foreigncar .foreigncar-table table tr td:nth-child(3){
        display: none;
    }
    .foreigncar .foreigncar-table table tr td:nth-child(1){
        line-height: 20px;
    }
    .foreigncar .fp-arrow.fp-prev{
        left: 10px;
    }
    .foreigncar .fp-arrow.fp-next{
        right: 10px;
    }

    .crypto .crypto-table table tr th:nth-child(7){
        display: none;
    }
    .crypto .crypto-table table tr td:nth-child(7){
        display: none;
    }

    .stock .stock-table table tr th:nth-child(7){
        display: none;
    }
    .stock .stock-table table tr td:nth-child(7){
        display: none;
    }
    .stock .stock-table table tr td:nth-child(1){
        width: 28% !important;
        line-height: 20px;
    }
    .analysis .our-analysis a{
        font-size: 12px;
    }
    .seminar .seminar-content{
        padding-bottom: 10px;
    }
    .channel .channel-content-desc{
        margin:0;
    }

    .about-us .about-us-content .about-us-items p{
        display: none;
    }

    .contact-us .footer .table h3{
        font-size: 14px;
        padding: 5px 0 20px 0;
    }
    .contact-us .footer .social{
        width: 90%;
    }
    .contact-us .footer .social h2{
        font-size: 20px;
        padding: 10px 0 30px 0;
    }
    .contact-us .footer .social svg{
        margin-left: 15px;
        font-size: 20px;
    }
    .contact-us .footer .contact-us-desc{
        padding: 10px 0;
    }
    .contact-us .footer .contact-us-desc h2{
        font-size: 14px;
    }
    .contact-us .footer .contact-us-desc p{
        font-size: 12px;
        width: 60%;
    }
    .contact-us .footer .table .p-table a{
        font-size: 12px;
    }
    .contact-us .footer .table{
        height: 190px;
    }
    .contact-us .footer .table .p-table svg{
        display: none;
    }
}


@media (max-width:400px){
    .dollar .dollar-table table tr th:nth-child(5){
        display: none;
    }
    .dollar .dollar-table table tr td:nth-child(5){
        display: none;
    }

    .gold .gold-table table tr th:nth-child(5){
        display: none;
    }
    .gold .gold-table table tr td:nth-child(5){
        display: none;
    }

    .bourse .bourse-table table tr th:nth-child(5){
        display: none;
    }
    .bourse .bourse-table table tr td:nth-child(5){
        display: none;
    }

    .irancar .irancar-table table tr th:nth-child(5){
        display: none;
    }
    .irancar .irancar-table table tr td:nth-child(5){
        display: none;
    }

    .foreigncar .foreigncar-table table tr th:nth-child(5){
        display: none;
    }
    .foreigncar .foreigncar-table table tr td:nth-child(5){
        display: none;
    }

    .stock .stock-table table tr th:nth-child(5){
        display: none;
    }
    .stock .stock-table table tr td:nth-child(5){
        display: none;
    }

    .analysis .our-analysis h3{
        font-size: 13px;
    }
    .channel .channel-content .channel-content-img{
        display: none;
    }
    .channel .channel-content-desc h2{
        font-size: 15px;
    }
    .channel .channel-content{
        padding: 30px 0;
        justify-content: space-between;
    }
    .channel .channel-content-desc p{
        line-height: 30px;
    }
    .seminar .seminar-content .seminar-vector{
        display: none;
    }
    .seminar .seminar-content{
        justify-content: flex-end;
    }
    .seminar .seminar-content{
        padding: 30px 0;
    }
    .seminar .seminar-content .seminar-desc .seminar-desc-item h2{
        font-size: 15px;
    } 
}


@media (max-width:300px){
    .s1 header nav .navbar-log{
        width: 100%;
    }
    .dollar .dollar-table table tr th:nth-child(8){
        display: none;
    }
    .dollar .dollar-table table tr td:nth-child(8){
        display: none;
    }

    .gold .gold-table table tr th:nth-child(8){
        display: none;
    }
    .gold .gold-table table tr td:nth-child(8){
        display: none;
    }

    .bourse .bourse-table table tr th:nth-child(8){
        display: none;
    }
    .bourse .bourse-table table tr td:nth-child(8){
        display: none;
    }

    .irancar .irancar-table table tr th:nth-child(7){
        display: none;
    }
    .irancar .irancar-table table tr td:nth-child(7){
        display: none;
    }

    .foreigncar .foreigncar-table table tr th:nth-child(7){
        display: none;
    }
    .foreigncar .foreigncar-table table tr td:nth-child(7){
        display: none;
    }

    .crypto .crypto-table table tr th:nth-child(6){
        display: none;
    }
    .crypto .crypto-table table tr td:nth-child(6){
        display: none;
    }

    .stock .stock-table table tr th:nth-child(8){
        display: none;
    }
    .stock .stock-table table tr td:nth-child(8){
        display: none;
    }
    .channel .channel-content-desc p{
        line-height: 23px;
        font-size: 13px;
        margin-bottom: 15px;
    }
    .channel .channel-content{
        padding: 10px 0;
    }
    .channel .title-page{
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .channel .title-page h2{
        font-size: 16px;
    }
    .channel .channel-content-desc h2{
        font-size: 14px;
        padding-bottom: 20px;
    }
    .channel .channel-content-desc h2 svg{
        display: none;
    }

    .seminar .title-page{
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .seminar .title-page h2{
        font-size: 16px;
    }
    .seminar .seminar-content .seminar-desc .seminar-desc-item p{
        line-height: 23px;
        font-size: 13px;
        margin-bottom: 15px; 
    }
    .seminar .seminar-content{
        padding: 5px 0;
    }
    .seminar .seminar-content .seminar-desc .seminar-desc-item h2 svg{
        display: none;
    }
    .seminar .seminar-content .seminar-desc .seminar-desc-item h2{
        line-height: 20px;
    }
    .seminar .seminar-content .seminar-desc .seminar-link{
        flex-direction: column;
    }
    .seminar .seminar-content .seminar-desc .seminar-desc-item h2{
        margin-bottom: 5px;
    }
}